@using System.Data.Entity.Core.Common.EntitySql
@model Vidly.ViewModels.CustomerFormViewModel

@{
	ViewBag.Title = "title";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="/scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/scripts/moment.min.js"></script>
<script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/scripts/bootstrap-datetimepicker.js"></script>
<link rel="stylesheet" href="~/Content/bootstrap-datetimepicker-build.less" />

<h2>New Customer</h2>

@using (Html.BeginForm("Create", "Customers"))
{
	<div class="form-group">
		@Html.LabelFor(m => m.Customer.Name)
		@Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control"})
	</div>	
	@*<div class="form-group">
		@Html.LabelFor(m => m.Customer.Birthday)
		@Html.TextBoxFor(m => m.Customer.Birthday, new { @class = "form-control"})
	</div>*@
	<div class="form-group">
		@Html.LabelFor(m => m.Customer.Birthday)
		<div class="form-group">
			<div class='input-group date' id='datetimepicker'>
				<input type='text' class="form-control" />
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
				</span>
			</div>
		</div>
		<script type="text/javascript">
			$(function () {
				$('#datetimepicker').datetimepicker();
			});
		</script>
	</div>
	<div class="checkbox">
		<label>
			@Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsletter) Subscribed to Newsletter?
		</label>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Customer.MembershipTypeId)
		@Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control"})
	</div>
	<button type="Submit" class="btn btn-primary">Save</button>
}